.tos_cm-s-prolog span.tos_cm-number	       {color: #000;}
.tos_cm-s-prolog span.tos_cm-neg-number	       {color: #000;}
.tos_cm-s-prolog span.tos_cm-atom	       {color: #762;}
.tos_cm-s-prolog span.tos_cm-qatom	       {color: #008;}
.tos_cm-s-prolog span.tos_cm-string	       {color: #008; font-style: italic;}
.tos_cm-s-prolog span.tos_cm-bqstring	       {color: #040; font-style: italic;}
.tos_cm-s-prolog span.tos_cm-codes	       {color: #040; font-style: italic;}
.tos_cm-s-prolog span.tos_cm-chars	       {color: #040; font-style: italic;}
.tos_cm-s-prolog span.tos_cm-functor	       {color: #000; font-style: italic;}
.tos_cm-s-prolog span.tos_cm-tag	       {color: #000; font-weight: bold;}
.tos_cm-s-prolog span.tos_cm-key	       {color: #000; font-weight: bold;}
.tos_cm-s-prolog span.tos_cm-qq_content        {color: #900;}
.tos_cm-s-prolog span.tos_cm-qq_open,
.tos_cm-s-prolog span.tos_cm-qq_sep,
.tos_cm-s-prolog span.tos_cm-qq_close          {color: blue; font-weight: bold;}
.tos_cm-s-prolog span.tos_cm-qq_type           {font-weight: bold;}
.tos_cm-s-prolog span.tos_cm-comment	       {color: #060; font-style: italic; line-height: 1em;}
.tos_cm-s-prolog span.tos_cm-comment_string    {color: #060; font-style: italic; line-height: 1em;}
.tos_cm-s-prolog span.tos_cm-var	       {color: #800;} /* Normal variable */
.tos_cm-s-prolog span.tos_cm-var-2	       {color: #888;} /* _Var */
.tos_cm-s-prolog span.tos_cm-anon	       {color: #800;} /* _ */
.tos_cm-s-prolog span.tos_cm-singleton	       {color: #800; font-weight: bold;} /* Singleton */
.tos_cm-s-prolog span.tos_cm-identifier	       {font-weight: bold;}
.tos_cm-s-prolog span.tos_cm-module	       {color: #549;}
.tos_cm-s-prolog span.tos_cm-head_exported     {color: blue; font-weight: bold;}
.tos_cm-s-prolog span.tos_cm-head_unreferenced {color: red; font-weight: bold;}
.tos_cm-s-prolog span.tos_cm-head_built_in     {background: orange; font-weight: bold;}
.tos_cm-s-prolog span.tos_cm-head_iso          {background: orange; font-weight: bold;}
.tos_cm-s-prolog span.tos_cm-head_hook         {color: blue; text-decoration: underline;}
.tos_cm-s-prolog span.tos_cm-head_extern       {color: blue; font-weight: bold;}
.tos_cm-s-prolog span.tos_cm-head_public       {color: #016300; font-weight: bold;}
.tos_cm-s-prolog span.tos_cm-head	       {font-weight: bold;}
.tos_cm-s-prolog span.tos_cm-goal_built_in     {color: blue;}
.tos_cm-s-prolog span.tos_cm-goal_imported     {color: blue;}
.tos_cm-s-prolog span.tos_cm-goal_autoload     {color: #008;}
.tos_cm-s-prolog span.tos_cm-goal_undefined    {color: red;}
.tos_cm-s-prolog span.tos_cm-goal_dynamic      {color: #f0f;} /*magenta*/
.tos_cm-s-prolog span.tos_cm-goal_thread_local {color: #f0f; text-decoration: underline;}
.tos_cm-s-prolog span.tos_cm-goal_recursion    {text-decoration: underline;}
.tos_cm-s-prolog span.tos_cm-meta	       {color: blue;}
.tos_cm-s-prolog span.tos_cm-op_type	       {color: blue;}
.tos_cm-s-prolog span.tos_cm-file_no_depends   {color: blue; text-decoration: underline; background: #fcd}
.tos_cm-s-prolog span.tos_cm-file	       {color: blue; text-decoration: underline;}
.tos_cm-s-prolog span.tos_cm-nofile	       {color: red;}
.tos_cm-s-prolog span.tos_cm-option_name       {color: #3434ba;}
.tos_cm-s-prolog span.tos_cm-no_option_name    {color: red;}
.tos_cm-s-prolog span.tos_cm-flag_name         {color: blue;}
.tos_cm-s-prolog span.tos_cm-no_flag_name      {color: red;}
.tos_cm-s-prolog span.tos_cm-error             {background-color: #fa0;}
.tos_cm-s-prolog span.tos_cm-link	       {color: #762;}
.tos_cm-s-prolog span.tos_cm-expanded	       {color: blue; text-decoration: underline;}
/* xpce */
.tos_cm-s-prolog span.tos_cm-xpce_method         {font-weight: bold;}
.tos_cm-s-prolog span.tos_cm-xpce_class_built_in {color: blue;}
.tos_cm-s-prolog span.tos_cm-xpce_class_lib      {color: blue; font-style: italic;}
.tos_cm-s-prolog span.tos_cm-xpce_class_user     {color: #000; font-style: italic;}
.tos_cm-s-prolog span.tos_cm-xpce_class_undef    {color: #000; font-style: italic;}
/* debug synchronization */
.tos_cm-s-prolog span.tos_cm-outofsync         {border: 1px dotted red;}

/* library(http/html_write) */
.tos_cm-s-prolog span.tos_cm-html		       {color: #909; font-weight: bold;}
.tos_cm-s-prolog span.tos_cm-entity		       {color: #909;}
.tos_cm-s-prolog span.tos_cm-html_attribute	       {color: #909;}
.tos_cm-s-prolog span.tos_cm-sgml_attr_function	       {color: blue;}
.tos_cm-s-prolog span.tos_cm-http_location_for_id      {font-weight: bold;}
.tos_cm-s-prolog span.tos_cm-http_no_location_for_id   {color: red; font-weight: bold;}

/* Other elements */
.tos_cm-jumped {background: yellow;}
