/* Specify icons for a file type.  Elements that must be styles this way
   need the style "type-icon" and the file extension.

    Changes by:    Riccardo Zese
    E-mail:        riccardo.zese@unife.it
    Copyright:	   2014-2016, University of Ferrara
*/

.type-icon.pl {
  background-image: url("../icons/owl.png");
}

.type-icon.swinb {
  background-image: url("../icons/swinb.png");
}

.type-icon.select {
  background-image: url("../icons/select.png");
}
